table {
  border-collapse: collapse;
  width: 100%;
}
.tables{
  margin-top: 50px !important;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}